* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    padding: 20px;
    gap: 20px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    background-color: #fff;
    border-radius: 10px;
    drop-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

div {
    display: flex;
    gap: 2rem;
}